body{
    background-color: #4c4c47 !important;
}


h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    color: #e5dcc5 !important;
    margin-bottom:0%;
}
p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    color: #e5dcc5 !important;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    color: #848fa5 !important;
}

hr{
    border-top: 1px solid #c14953;
    width: 60%; margin: 20px auto;
}

.img-size{
    max-width: 100%;
    height: auto;
    display:block;
    margin:0 auto;
}
.container {
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    
}

.top-jumbo{
    background-color: #c14953 !important;
}
.container .jumbotron{
    border-radius: 0 !important;
}
.container {
    border-radius: 0 !important;
}
.navbar{
    background-color: #2d2d2a;
    position: sticky;
    top: 0;
    
}
.navbar-brand .navbar{
    color:#c14953;
}
.navbar-default .navbar-nav>li>a {
    color: #e5dcc5;
    }
.navbar li{
    border-left: 1px solid #4c4c47;
}
.header{
    text-align: center;
}

.base-para{
    text-align: center;
}

#zindex{
    z-index:1000;
}

.job-jumbo{
    background-color: #c14953 !important;
    padding:3%;
}
.container .jumbotron, .container-fluid .jumbotron{
    padding:3%;
    margin:15px;
}

.start{
    vertical-align: middle;
    width:100%;
    height: 50px;
    background-color:#848fa5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    color: #4c4c47 !important;
}

.active{
    background-color: #c14953;
}

.about-jumbo{
    width:100%;
    background-color: #c14953;
}
.navbar-default .navbar-nav>.active>a {
    background-color:  #c14953;
}
.navbar {
    border:none;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color:  #88353c;
    color:#e5dcc5;
}

.navbar-default .navbar-nav li:hover{
    background-color: #4c4c47;
    color:#e5dcc5;
}

.about-me{
    vertical-align: middle;
}

.big-space{
    height: 100px;
}

.start:hover{
    background-color: #c14953;
    color:#e5dcc5 !important;
}

.contact{
    vertical-align: middle;
    width:50%;
    height: 50px;
    background-color:#848fa5;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    color: #4c4c47 !important;
}

.contact:hover{
    background-color: #c14953;
    color:#e5dcc5 !important;
}

#bigheader{
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: #e5dcc5 !important;
    text-align: center;
}

#flashyheader{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
    color: #e5dcc5;
    margin-bottom:0%;
    text-align: center;
}

